/* You can add global styles to this file, and also import other style files */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply font-sans min-h-screen bg-beige-100;
}

/* .isAfter::after {
  content: "";
  background-color: #277c78;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
} */

.x {
  @apply after:content-[''] after:bg-secondary-green after:w-full after:h-1 after:absolute after:bottom-0;
}
